<div class="concept">
    <h2>5. La programmation en Angular :</h2>
    <hr>

    <h3>1. Les différents paradigmes de programmation :</h3>
    
    <p>Angular implémente trois paradigmes principaux de programmation :</p>
    <ul>
      <li><p><strong>1. Le paradigme orienté objet</strong></p></li>
      <li><p><strong>2. Le paradigme fonctionnel</strong></p></li>
      <li><p><strong>3. Le paradigme réactif</strong> : Angular adopte fortement le paradigme réactif pour gérer les événements asynchrones, comme les requêtes HTTP, les interactions utilisateur ou les changements d'état.</p>
        <ul>
          <li><p>Grâce à ce paradigme, les données deviennent réactives. Lorsqu'une donnée change, toutes les parties du programme dépendant de cette donnée sont mises à jour automatiquement.</p></li>
          <li><p>Exemple : Lors d'un changement de données, l'interface utilisateur se met à jour automatiquement, déclenchant des actions en fonction des modifications.</p></li>
        </ul>
      </li>
    </ul>
    <hr>
    <h3>2. L'architecture en Angular :</h3>
    <p>En Angular, le développement est modulaire. L'application est structurée autour de modules qui communiquent entre eux. Ces modules constituent le cœur de l'architecture d'une application Angular, facilitant la structuration en unités logiques, ce qui améliore la maintenabilité, la réutilisabilité, la testabilité et l’extensibilité du projet.</p>
  </div>