<div class="concept">
    <h2>Étape 5 : Le lazy loading</h2>
    <p>Le lazy loading (chargement différé) est une technique utilisée dans Angular pour améliorer les performances d'une application.</p>
    <p>Plutôt que de charger tous les modules dès le démarrage de l'application, le lazy loading permet de ne charger que les modules nécessaires à l'affichage de la page actuelle, réduisant le temps de chargement initial, car seuls les composants et ressources dont l'utilisateur a besoin immédiatement sont chargés.</p>
    <p>Dans notre app, nous avons configuré le lazy loading pour les modules Home, Exercices, et Demos. Ces modules ne sont pas chargés immédiatement lors du lancement de l'application, mais uniquement lorsque l'utilisateur navigue vers les routes correspondantes.</p>
    <p>Dans notre fichier <code>features-routing.module.ts</code>, nous avons défini le lazy loading des modules de la manière suivante :</p>
    <pre><code>
      const routes: Routes = [
          &lbrace; path: '', redirectTo: '/home', pathMatch: 'full' &rbrace;,
          &lbrace; path: 'home', loadChildren: () => 
            import('./home/home.module').then(
              m => m.HomeModule) &rbrace;, 
          &lbrace; path: 'demos', loadChildren: () => 
            import('./demos/demos.module').then(
              m => m.DemosModule) &rbrace;,
          &lbrace; path: 'exos', loadChildren: () => 
            import('./exercices/exercices.module').then(
              m => m.ExercicesModule) &rbrace;];
    </code></pre>
    <p>Dans cette config, Angular ne charge chaque module (<code>HomeModule</code>, <code>DemosModule</code>, <code>ExercicesModule</code>) que lorsque l'utilisateur accède aux routes <code>/home</code>, <code>/demos</code>, ou <code>/exos</code>. Cela permet de réduire le poids de l'application au démarrage et de charger les modules uniquement quand ils sont nécessaires.</p>
  </div>