<div class="page-wrapper">
    <section class="hero-section">
      <h1>Exercices - Formulaires</h1>  
      <button class="cta-button" (click)="nav.navigate('/exos/8')">⏮️</button>
      <button class="cta-button" (click)="nav.navigate('/theorie/11')">🟦 Théorie 🟦</button>
        <button class="cta-button" (click)="nav.navigate('/demos/11')">🟪 Démonstration 🟪</button>
        <button class="cta-button" (click)="nav.navigate('/exos/10')">⏭️</button>
    </section>

    <section class="content-section">
        <div class="concept">
            <h2>Enoncé : </h2>
            <p><strong>Creer un formulaire de contact avec les champs : </strong></p>
            <ul>
                <li><p>firstname</p></li>
                <li><p>lastname</p></li>
                <li><p>description de la demande de rdv</p></li>
                <li><p>email</p></li>
            </ul>
            <hr>
            <p><strong>Bonus : </strong></p>
            <p><strong>1.</strong> Ajouter une checkBox pour demander le rdv a domicile. Si celle-ci est coché, ajouter au formulaire un champ adresse</p>
            <hr>
            <p><strong>2.</strong> Ajouter la validation à tout l'exercice</p>
            <hr>
            <p><strong>3.</strong> Utiliser formArray pour permettre l'ajout de plusieurs dates de rendez-vous. Celles-ci ne devront être proposables qu'à partir d'une semaine après la date du jour.</p>
     
                    
        </div>

        <student-contact-form/>
        <correction-contact-form/>
    </section>
