<div class="page-wrapper">
    <section class="hero-section">
      <h1>Exercices - Formulaires</h1>  
      <button class="cta-button" (click)="nav.navigate('/exos/8')">⏮️</button>
      <button class="cta-button" (click)="nav.navigate('/theorie/11')">🟦 Théorie 🟦</button>
        <button class="cta-button" (click)="nav.navigate('/demos/11')">🟪 Démonstration 🟪</button>
        <button class="cta-button" (click)="nav.navigate('/exos/10')">⏭️</button>
    </section>

    <section class="content-section">
        <div class="concept">
            <h2>Enoncé : </h2>
            <p><strong>Creer un formulaire de contact : </strong></p>
            <ul>
                <li><p>firstname,</p></li>
                <li><p>lastname,</p></li>
                <li><p>description de la demande de rdv</p></li>
                <li><p>email</p></li>
            </ul>
            <p><strong>Bonus : </strong></p>
            <ul>
                <li><p>checkBox pour demander le rdv a domicile.</p></li>
                <li><p>Si coché Ajouter au formulaire un formulaire d'adresse</p></li>
                <li><p>le tout doit etre valider bien entendu</p></li>
                <li><p>on peut proposer plusieurs date de rdv</p></li>
            </ul>       
                    
        </div>

        <app-contact-form/>
    </section>
