<div class="page-wrapper">
    <section class="hero-section">
        
        <h1>Exercice : Directives</h1>
        <button class="cta-button" (click)="nav.navigate('/theorie/6')">🟦 Théorie 🟦</button>
        <button class="cta-button" (click)="nav.navigate('/demos/6')">🟪 Démonstration 🟪</button>
    </section>

    <section class="content-section">
        <div class="concept gray">
            <h2>Enoncé :</h2>
            <p>Trouver un moyen d'optimiser la barre de navigation 
                en utilisant les directives structurelles afin de ne plus
                avoir à ajouter les éléments dans le html du component, mais plutôt
                à même le component.ts
            </p>
        </div>

        <div class = "concept exo">
            <h2><strong>Fiche d'étapes pour la correction : </strong></h2>
            
        </div>
    </section>
</div>
