<div class="page-wrapper">
    <section class="hero-section">
        
        <h1>Exercice : Directives</h1>
        <button class="cta-button" (click)="nav.navigate('/exos/3')">⏮️</button>
        <button class="cta-button" (click)="nav.navigate('/theorie/6')">🟦 Théorie 🟦</button>
        <button class="cta-button" (click)="nav.navigate('/demos/6')">🟪 Démonstration 🟪</button>
        <button class="cta-button" (click)="nav.navigate('/exos/5')">⏭️</button>
    </section>

    <section class="content-section">
        <div class="concept">
            <h2>Enoncé :</h2>
            <h3>Partie 1 : Créer un modèle qui représente un produit qui possède :</h3>
            <ul>
                <li><p>nom</p></li>
                <li><p>photo</p></li>
                <li><p>prix</p></li>
                <li><p>prixPromo</p></li>
                <li><p>enPromo</p></li>
                <li><p>qttRestante</p></li>
            </ul>
            <hr>
            <h3>Partie 2 : Créer une liste de produits et l'afficher :</h3>
            <ul>
                <li><p>Si un produit est en promo, on affiche son prix normal barré et son prix promo en rouge.</p></li>
                <li><p>Si un produit n'est plus disponible (qtt 0), afficher qu'il ne l'est plus.</p></li>
            </ul>
        </div>

        <app-list-view/>

        <div class="concept">
            <h2>Notes :</h2>
            <p class="warning">
                Un dossier nommé <code>assetsExo</code> se situe dans public, vous pouvez y déposer les images de vos articles 😎 !
                <img [src]="imageUrl1">
            </p>
        </div>
    </section>
</div>
