<div class="page-wrapper">
    <section class="hero-section">
      <h1>Démonstration sur les Directives</h1> 
      <button class="cta-button" (click)="nav.navigate('/demos/5')"> ⏮️</button>
      <button class="cta-button" (click)="nav.navigate('/demos/7')">⏭️</button> 
    </section>
  
    <section id="concepts" class="content-section">
        <app-directives-attributs/>
        <app-directives-structurelles/>
        <app-custom-directive/>
        <button class="cta-button" (click)="nav.navigate('/exos/3')">🟩Exercices🟩</button>
    </section>
  </div>