<div class="page-wrapper">
    <section class="hero-section">
        <h1>Théorie - LocalStorage & SessionStorage</h1>
        <button class="cta-button" (click)="nav.navigate('/theorie/12')"> ⏮️</button>
      <button class="cta-button" (click)="nav.navigate('/theorie/14')">⏭️</button>
    </section>
  
    <section class="content-section">
        <app-storage/>
        <app-local-storage/>
        <app-session-storage/>
        <app-comparaison/>
        <app-other/>
        <button class="cta-button" (click)="nav.navigate('/demos/13')">🟪Démonstration🟪</button>
    </section>
  </div>

