<div class="concept">
    <h2>4. Analyse de l'arborescence initiale du projet :</h2>
    <ul>
      <li><p><strong>1. `node_modules`</strong> : Contient tous les modules nécessaires au framework</p></li>
      <li><p><strong>2. `src`</strong> : Contient le code de notre projet</p></li>
      <li><p><strong>3. `angular.json`</strong> : Configuration de l'espace de travail du projet</p>
        <ul>
          <li><p>C'est ici que tu trouveras les configurations définies lors de la création du projet, comme 
            <code>--skip-tests</code> ou <code>--standalone false</code>.</p></li>
        </ul>
      </li>
      <li><p><strong>4. `package.json`</strong> : Listes & versions des packages du projet</p></li>
      <li><p><strong>5. `tsconfig.json`</strong> : Configuration de la compilation TypeScript</p></li>
    </ul>
  </div>