<header>
  <h2>BStorm : Angular</h2>
  <nav>
    <ul>
      <li class="has-submenu">
        <a>Théorie</a>
        <ul class="submenu">
          @for (item of TheoMenuItems; track $index) {
            <li><a routerLink="/theorie/{{item.id}}" >{{item.name}}</a></li>
          }
        </ul>
      </li>

      <li class="has-submenu">
        <a>Démonstrations</a>
        <ul class="submenu">
          @for (item of demoMenuItems; track $index) {
            @if (item.id != "1" && item.id != "2" && item.id != "3") {
              <li><a routerLink="/demos/{{item.id}}" >{{item.name}}</a></li>
            }
          }
        </ul>
      </li>

      <li class="has-submenu">
        <a>Exercices</a>
        <ul class="submenu">
          @for (item of ExoMenuItems; track $index) {
            <li><a routerLink="/exos/{{item.id}}">{{item.name}}</a></li>
          }
        </ul>
      </li>

      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>

      </ul>
  </nav>