.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;

    input, select {
      width: 30%;
    }

    .cta-button {
      width: 30%
    }

    .error {
      border-color: #e92d2d;
      font-size: 0.9rem;
    }
  }
