<div class="concept">
    <h2>1. Commande de création du projet :</h2>
    <p><strong>Commande :</strong> <code>ng new demo-angular --standalone false --directory . --skip-tests</code></p>
    <p>Où :</p>
    <ul>
      <li><p><strong>1. `ng new`</strong> : Initialise un nouveau projet Angular</p></li>
      <li><p><strong>2. `demo-angular`</strong> : Nom du projet</p></li>
      <li><p><strong>3. `--standalone false`</strong> : Crée un projet sans standalone</p></li>
      <li><p><strong>4. `--directory .`</strong> : Installe le projet dans le répertoire actuel sans recréer un dossier supplémentaire</p></li>
      <li><p><strong>5. `--skip-tests`</strong> : Empêche la génération de fichiers de tests</p></li>
    </ul>
  </div>