<div class="concept">
    <h2>Etape 4 : Test du routage</h2>
    <p>Une fois le routage en place, vous pouvez tester la navigation directement dans l'URL :</p>
    <ul>
      <li>Naviguez vers la page d'accueil : <code>http://localhost:4200/home</code></li>
      <li>Accédez à la page des démonstrations : <code>http://localhost:4200/demos</code></li>
      <li>Accédez à la première démonstration : <code>http://localhost:4200/demos/demo1</code></li>
      <li>Accédez à la page des exercices : <code>http://localhost:4200/exos</code></li>
    </ul>
  </div>