<div class="concept">
    <h2>Etape 2 : Routing dans le module features</h2>
    <p>Ensuite, dans <code>features-routing.module.ts</code>, nous définissons les routes vers Home, Démonstrations, et Exercices.</p>
    <p>Nous allons donc appliquer le même processus que pour AppRouting sur Features-routing et appliquer une redirection sur l'adresse classique : <code>http://localhost:4200</code> pour qu'elle pointe directement sur la page Home :</p>
    <pre><code>const routes: Routes = [
      &lbrace; path: '', redirectTo: '/home', pathMatch: 'full' &rbrace;, 
      // Quand quelqu'un essaye de se rendre sur 
      // 'http://localhost:4200', 
      // il est redirigé vers 'http://localhost:4200/home'
      &lbrace; path: 'home', loadChildren: () => 
        import('./home/home.module').then(m => m.HomeModule) &rbrace;, 
      // On a donc mappé sur l'url 'http://localhost:4200/home' 
      // le module  HomeModule
      &lbrace; path: 'demos', loadChildren: () => 
        import('./demos/demos.module').then(m => m.DemosModule) &rbrace;, 
      // On a donc mappé sur l'url 'http://localhost:4200/demos' 
      // le module DemosModule
      &lbrace; path: 'exos', loadChildren: () => 
        import('./exercices/exercices.module').then(
          m => m.ExercicesModule) &rbrace; 
      // On a donc mappé sur l'url 'http://localhost:4200/exos' 
      // le module ExosModule];
  </code></pre>
  </div>