<div class="page-wrapper">
    <section class="hero-section">
      <h1>Démonstration sur les Pipes</h1>  
      <button class="cta-button" (click)="nav.navigate('/demos/6')"> ⏮️</button>
      <button class="cta-button" (click)="nav.navigate('/demos/8')">⏭️</button>
    </section>
  
    <section id="concepts" class="content-section">
      <app-integrated-pipes/>
      <app-custom-pipes/>
      <app-impur-pipes/>
      <button class="cta-button" (click)="nav.navigate('/exos/5')">🟩Exercices🟩</button>
    </section>
  </div>