<div class="concept">
    <h2>Spécifier à Angular qu'il doit sur la page principale affichez une page selon l'url active</h2>
    <p>Pour indiquer à Angular qu'il doit afficher une page spécifique en fonction de l'URL active, nous devons utiliser une balise spéciale appelée <code>&lt;router-outlet&gt;</code>.</p>
    <p>Pour faire simple, via l'ajout de cette balise, on spécifie à Angular qu'à chaque fois que l'utilisateur navigue vers une nouvelle URL, le contenu du <code>&lt;router-outlet&gt;</code> doit être mis à jour avec le composant associé à cette route.</p>
    <pre><code>
      &lt;app-header&gt;&lt;/app-header&gt;
      &lt;main&gt;&lt;router-outlet&gt;&lt;/router-outlet&gt;&lt;/main&gt;
      &lt;app-footer&gt;&lt;/app-footer&gt;
    </code></pre>
  </div>