<div class="page-wrapper">
    <section class="hero-section">
      <h1>Typescript - Introduction</h1>
    </section>
  
    <section class="content-section">
      <div class="concept">
          <h2>Qu'est-ce que TypeScript ?</h2>
          <p><strong>TypeScript</strong> est un langage de programmation open-source développé par Microsoft en 2012. </p>
              
          <p>Il est une surcouche de JavaScript qui lui apporte des fonctionnalités supplémentaires tout en restant compatible. Cela signifie que tout code JavaScript est également du code TypeScript valide.😎
          </p>

          <p>
              Le principal objectif de TypeScript est d'améliorer la productivité des développeurs en apportant des fonctionnalités de typage statique et en facilitant le développement d'applications complexes et à grande échelle.
          </p>
      </div>

      <div class="concept">
          <h2>Pourquoi TypeScript a-t-il été développé ?</h2>
          <p>
              TypeScript a été créé pour répondre à plusieurs besoins identifiés par la communauté de développeurs travaillant avec JavaScript. En effet, avec la montée en puissance de JavaScript et son utilisation croissante pour des applications de plus en plus complexes (notamment côté client et serveur), des limites ont été constatées :
          </p>
          <ul>
            <hr>
              <li><p><strong>Manque de typage statique :</strong> JavaScript est un langage dynamique, ce qui signifie que les erreurs de typage ne sont détectées qu'au moment de l'exécution. Cela peut compliquer la détection des bugs dans de gros projets.</p></li>
              <hr>
              <li><p><strong>Applications complexes :</strong> Le développement d'applications à grande échelle nécessite des outils permettant une meilleure organisation du code, ce qui n'était pas suffisant avec du JavaScript pur.</p></li>
              <hr>
              <li><p><strong>Maintenance difficile :</strong> Plus une application est grande, plus il devient difficile de la maintenir. TypeScript introduit des fonctionnalités de structuration (comme les interfaces et les classes) qui facilitent la gestion des projets de grande envergure.</p></li>
              <hr>
          </ul>
      </div>

      <div class="concept">
          <h2>TypeScript - Avantages :</h2>
          <p>
              TypeScript offre plusieurs avantages qui rendent le développement d'applications plus sûr, rapide, et efficace :
          </p>
          <ul>
            <hr>
              <li><p><strong>Typage statique :</strong> Le typage statique permet de définir le type des variables, des paramètres et des retours de fonctions dès la phase de développement. Cela permet de détecter plus tôt les erreurs et de faciliter la compréhension du code.</p></li>
              <hr>
              <li><p><strong>Meilleure organisation du code :</strong> TypeScript introduit des concepts comme les <strong>interfaces</strong>, les <strong>types</strong>, et les <strong>classes</strong>, qui permettent de structurer le code de manière plus claire et organisée.</p></li>
              <hr>
              <li><p><strong>Transpilateur vers JavaScript :</strong> TypeScript est transpiler en JavaScript. Cela signifie que le code TypeScript est converti en code JavaScript avant d'être exécuté, garantissant une compatibilité totale avec tous les environnements qui supportent JavaScript.</p></li>
              <hr>
              <li><p><strong>Support d'outils modernes :</strong> TypeScript améliore l'expérience des développeurs en s'intégrant avec des outils modernes comme les éditeurs de code. Par exemple, les IDE comme Visual Studio Code offrent de l'auto-complétion, la détection d'erreurs en temps réel, et une documentation directement accessible grâce à TypeScript.</p></li>
              <hr>
              <li><p><strong>Interopérabilité complète avec JavaScript :</strong> Le fait que TypeScript soit une surcouche de JavaScript signifie que les développeurs peuvent intégrer progressivement TypeScript dans leurs projets JavaScript existants sans avoir à tout réécrire.</p></li>
              <hr>
          </ul>
      </div>
  </section>
</div>
