<div class="page-wrapper">
    <section class="hero-section">
      <h1>Exercices - Routing</h1>  

    </section>
  
    <section id="concepts" class="content-section">
        <div class="concept">
            <h2>Enoncé :</h2>
            <p>
                Dans un nouveau projet, mettre en place 2 modules : (Demos & Exercices).
            </p>
            <p>
                Ceux-ci devront comprendre un composant chacun et un routing spécifique.
            </p>
            <p>
                Créer un composant de navigation et l'inclure au template de base (menu à gauche de la page)
            </p>
            <p>Tous les composants et modules devront être accessible depuis la page d'acceuil de l'application.</p>

