<div class="concept">
    <h2>Directives Structurelles</h2>
    
    <h3>&#64;If : <button class="cta-button" (click)="toggle()">Appliquer</button> </h3>
    <ul>
        @if (isToggled) {
            <li><p>You shall pass !</p></li>
        } @else {
            <li><p>You shall not pass !</p></li>
        }
    </ul>

    <hr>

    <h3>&#64;For : </h3>
    <ul>
        @for (fruit of liste; track $index) {
            <li><strong>{{$index}}</strong> - {{fruit}}</li>
        }
    </ul>

    <hr>

    <h3>&#64;Switch : </h3>
    <p class="warning">⚠️ Entrez 1, 2 ou 3 !</p>
    <input type="text" [(ngModel)]="inputValue">
    @switch (inputValue) {
        @case ("1") { <p>=> Cas 1</p> }
        @case ("2") { <p>=> Cas 2</p> }
        @case ("3") { <p>=> Cas 3</p> }
        @default {<p>=> Cas par défaut</p>}
    }

</div>