<div class="page-wrapper">
    <section class="hero-section">
      <h1>Démonstration - Formulaires</h1> 
      <button class="cta-button" (click)="nav.navigate('/demos/10')"> ⏮️</button>
      <button class="cta-button" (click)="nav.navigate('/demos/12')">⏭️</button> 
    </section>


    <section id="concepts" class="content-section">
      <app-two-way-binding/>
      <app-with-validators/>
      <app-custom-validators/>
      <button class="cta-button" (click)="nav.navigate('/exos/7')">🟩 Exercices 🟩</button>
    </section>
  </div>