<div class="page-wrapper">
    <section class="hero-section">
        <h1>Théorie - Input et Output</h1>
        <button class="cta-button" (click)="nav.navigate('/theorie/8')"> ⏮️</button>
      <button class="cta-button" (click)="nav.navigate('/theorie/10')">⏭️</button>
    </section>

    <section class="content-section">
        <div class="concept">
            <h2>Introduction :</h2>
            <p>En Angular, la communication entre composants est essentielle et se fait principalement grâce aux propriétés 
                <code>&#64;Input</code> et <code>&#64;Output</code>, qui permettent de passer des données du parent vers 
                l'enfant (Input) et de l'enfant vers le parent (Output).
            </p>
        </div>

        <div class="concept">
            <h2>Qu'est-ce qu'une propriété <code>&#64;Input</code> ?</h2>
            <p>
                La propriété <code>&#64;Input</code> permet à un composant enfant de recevoir des données depuis 
                son composant parent. Il s'agit de passer des valeurs du parent à l'enfant.
            </p>
            <hr>
            <h3>1. Composant enfant - ts :</h3>
            <img [src]="inputChildUrl">
            <hr>
            <h3>2. Composant enfant - html :</h3>
            <img [src]="inputChildHtmlUrl">
            <hr>
            <h3>3. Composant enfant - ts :</h3>
            <img [src]="inputParentUrl">
            <hr>
            <h3>4. Composant enfant - html :</h3>
            <img [src]="inputParentHtmlUrl">

        </div>

        <div class="concept">
            <h2>Qu'est-ce qu'une propriété <code>&#64;Output</code> ?</h2>
            <p>
                La propriété <code>&#64;Output</code> permet à un composant enfant d'émettre des événements 
                vers son composant parent. Cela se fait via un <code>EventEmitter</code>.
            </p>
            <hr>
            <h3>1. Composant enfant - ts :</h3>
            <img [src]="outputChildUrl">
            <hr>
            <h3>2. Composant enfant - html :</h3>
            <img [src]="outputChildHtmlUrl">
            <hr>
            <h3>3. Composant parent - ts :</h3>
            <img [src]="outputParentUrl">
            <hr>
            <h3>4. Composant parent - html :</h3>
            <img [src]="outputParentHtmlUrl">

            
        </div>

        <div class="concept">
            <h2>Communication bidirectionnelle :</h2>
            <p>
                En combinant <code>&#64;Input</code> et <code>&#64;Output</code>, on peut créer une communication 
                bidirectionnelle entre un composant parent et un composant enfant.
            </p>
            <hr>
            <h3>0. Importer le FormsModule pour utiliser le ngModel :</h3>
            <img [src]="bidirectionalImportUrl">
            <hr>
            <h3>1. Composant enfant - ts :</h3>
            <img [src]="bidirectionalChildUrl">
            <hr>
            <h3>2. Composant enfant - html :</h3>
            <img [src]="bidirectionalChildHtmlUrl">
            <hr>
            <h3>3. Composant parent - ts :</h3>
            <img [src]="bidirectionalParentUrl">
            <hr>
            <h3>4. Composant parent - html :</h3>
            <img [src]="bidirectionalParentHtmlUrl">
        </div>

        <button class="cta-button" (click)="nav.navigate('/demos/9')">🟪Démonstration🟪</button>

    </section>
</div>
