<div class="page-wrapper">
    <section class="hero-section">
        <h1>Théorie - Routing</h1>
        <p class="warning"> ⚠️ En refacto</p>
        <button class="cta-button" (click)="nav.navigate('/theorie/2')"> ⏮️</button>
      <button class="cta-button" (click)="nav.navigate('/theorie/4')">⏭️</button>
      </section>

  <section class="content-section">
    <app-routing-context/>
    <app-set-routing1/>
    <app-set-routing3/>
    <app-set-routing4/>
    <app-active-url/>
    <app-set-routing5/>
    <app-set-routing6/>
    <app-finally/>
  </section>
</div>

