<div class="concept">
    <h2>routerLink et routerLinkActive</h2>

    <p>Dans Angular, <code>routerLink</code> est utilisée pour définir les liens de navigation sans provoquer de rechargement complet de la page. Elle indique au routeur Angular quelle route charger.</p>
    
    <p>Par exemple, <code>routerLink="/home"</code> redirige l'utilisateur vers la route définie pour la page d'accueil sans rafraîchir l'intégralité du site.</p>

    <hr>

    <h3>Définition :</h3>
    <ul>
        <li><p><strong>routerLink :</strong> Cet attribut est utilisée pour naviguer entre les différentes routes de l'application sans rechargement complet. Elle correspond à l'attribut <code>href</code> en HTML standard.</p></li>

        <li><p><strong>routerLinkActive :</strong> Elle permet de définir un style pour un lien actif. Lorsque l'utilisateur est sur une page, ce lien sera automatiquement stylé comme "actif", en fonction de la classe CSS associée.</p></li>
    </ul>
    <img [src]="imageUrl1">

    <hr>

    <h3>Explication :</h3>
    <ul>
        <li>
            <p><strong>Home :</strong> Le lien vers la page d'accueil utilise <code>routerLink="/home"</code>, qui indique au routeur de charger le composant correspondant à la route /home. Le style <code>routerLinkActive="active"</code> permet de définir un style personnalisé (via la classe CSS active) lorsque la route est active.</p>
        </li>

        <li>
            <p><strong>Démos :</strong> Ici, nous avons une entrée avec un sous-menu. Le lien principal pointe vers la route /demos, et en dessous, nous avons une liste déroulante (sous-menu) avec un lien vers <code>/demos/3</code> pour accéder à "Démo 3". Le sous-menu est rendu visible au survol ou au clique (selon les règles CSS que l'on applique).</p>
        </li>

        <li>
            <p><strong>Exercices :</strong> Ce lien permet d'accéder à la section des exercices en utilisant <code>routerLink="/exos"</code>, toujours avec le <code>routerLinkActive</code> pour styliser l'état actif.</p>
        </li>
    </ul>

    <hr>

    <h3>Concernant - <code>CSS navbar</code> :</h3>
    <p class="warning">💡 N'hésitez pas à regarder le css de la barre de navigation intégrée à ce projet qui se trouve dans <code>layout/header</code> !😎</p>
</div>
