<div class="concept">
    <h2>3. Le processus Ahead-of-time (AOT) :</h2>
    <p>Technique de compilation utilisée par Angular pour améliorer les performances des applications.</p>
    <p>L'AOT compile l'application avant son exécution, convertissant le code Angular en JavaScript optimisé avant que le 
      navigateur ne le charge. Cela rend le chargement initial plus rapide et réduit la taille des fichiers transmis au navigateur.</p>
    <p>C'est aussi ce processus qui permet à l'application de se recharger automatiquement à chaque modification sans devoir
       relancer le serveur.</p>
  </div>