<div class="page-wrapper">
    <section class="hero-section">
        <h1>Exercices : Input | Output</h1>
        <button class="cta-button" (click)="nav.navigate('/exos/6')">⏮️</button>
        <button class="cta-button" (click)="nav.navigate('/theorie/9')">🟦 Théorie 🟦</button>
        <button class="cta-button" (click)="nav.navigate('/demos/9')">🟪 Démonstration 🟪</button>
        <button class="cta-button" (click)="nav.navigate('/exos/8')">⏭️</button>
    </section>

    <section class="content-section">

        <div class="concept">
            <h2>Enoncé :</h2>
            <p>Mettre en place une shopping list en 2 composants.</p>

            <p><strong>Dans le 1er :</strong></p>
            <ul><li><p>Un champ textuel permettant l'ajout d'un article à la liste</p></li></ul>
            <p><strong>Dans le 2nd :</strong></p>
            <ul><li><p>L'affichage de la liste et la possibilité de supprimer un article.</p></li></ul>
            <hr>
            <p class="warning">
                ⚠️ Les 2 composant doivent être affiché sur la même page !
            </p>
        </div>  

        <app-shopping-view/>

    </section>
</div>