<div class="concept"> 
    <h3>Qu'est-ce que SessionStorage ?</h3> 
    <p>Le <strong>SessionStorage</strong> est similaire à LocalStorage, mais ses données sont limitées à la session de navigation actuelle. Cela signifie que les données stockées sont supprimées lorsque l'utilisateur ferme l'onglet ou le navigateur.</p>

    <p><strong>Caractéristiques :</strong></p>
    <ul>
        <li><p>Capacité de stockage : environ 5MB selon le navigateur.</p></li>
        <li><p>Les données sont accessibles <strong>seulement durant la session active</strong>.</p></li>
        <li><p>Accessible via JavaScript à travers <code>sessionStorage</code>.</p></li>
    </ul>
</div> 
<br><br>
<div class="concept"> 
    <h3>Comment utiliser SessionStorage ?</h3> 
    <p>Les méthodes pour <strong>SessionStorage</strong> sont identiques à celles du LocalStorage :</p> 
    <ul> 
        <li><p><code>setItem('clé', 'valeur')</code> : Ajouter ou mettre à jour une entrée.</p></li> 
        <li><p><code>getItem('clé')</code> : Récupérer la valeur stockée pour une clé donnée.</p></li> 
        <li><p><code>removeItem('clé')</code> : Supprimer une entrée spécifique.</p></li> 
    </ul>
    <p><strong>Exemple : </strong></p>
        <img [src]="imageUrl"><br>
</div>