<div class="page-wrapper">
    <section class="hero-section">
      <h1>Démonstration - Les Storages</h1>  
      <button class="cta-button" (click)="nav.navigate('/demos/12')"> ⏮️</button>
      <button class="cta-button" (click)="nav.navigate('/demos/14')">⏭️</button>
    </section>
  
    <section id="concepts" class="content-section">
      <app-local-storage/>
      <app-session-storage/>
      <button class="cta-button" (click)="nav.navigate('/exos/10')">🟩 Exercices 🟩</button>
    </section>
  </div>