<div class="page-wrapper">
    <section class="hero-section">
        <h1>Exercice : Pipes</h1>
        <button class="cta-button" (click)="nav.navigate('/exos/4')">⏮️</button>
        <button class="cta-button" (click)="nav.navigate('/theorie/7')">🟦 Théorie 🟦</button>
        <button class="cta-button" (click)="nav.navigate('/demos/7')">🟪 Démonstration 🟪</button>
        <button class="cta-button" (click)="nav.navigate('/exos/6')">⏭️</button>
    </section>

    <section class="content-section">
        <div class="concept">
            <h2>Enoncé:</h2>
            <p>Mettre en place un chronomètre : </p>
            <p>Il devra disposer de 3 Boutons :</p> 
            <ul>
                <li><p>Start</p></li>
                <li><p>Pause</p></li>
                <li><p>Reset (actif/inactif en fonction des besoins)</p></li>
            </ul>
            <p>Ajouter également un affichage au format : "xx minutes xx secondes"</p>
            <p class="warning">
                Astuce : cherchez du côté de setInterval() et du string Interpolation de Typescript
            </p>   
                   
        </div>

        <student-chrono/>
        <correction-chrono/>

    </section>
</div>
