<div class="page-wrapper">
    <section class="hero-section">
        <h1>Exercice : Pipes</h1>
        <button class="cta-button" (click)="nav.navigate('/theorie/7')">🟦 Théorie 🟦</button>
        <button class="cta-button" (click)="nav.navigate('/demos/7')">🟪 Démonstration 🟪</button>
    </section>

    <section class="content-section">
        <div class="concept gray">
            <h2>Exercice 1 :</h2>
            <p>Créer un pipe qui formate une liste d'objets avec des noms en capitales. </p>            
        </div>

        <div class="concept gray">
            <h2>Exercice 2 :</h2>
                <p>Implémenter un pipe qui calcule et affiche le temps écoulé depuis une date donnée.</p>
        </div>


    </section>
</div>
