<div class="concept">
    <h2>Mise en place du routing principal</h2>
    <p>Lorsqu'on crée un module, il est possible d'ajouter à la commande le paramètre <code>--routing</code> qui rajoute un module de routing à la création de celui-ci.</p>

    <img [src]="imageUrl1">

    <p>C'est à l'intérieur de ce module de routing que nous allons déclarer les différentes routes qu'il existe depuis ce point de l'application.</p>

    <hr>
    
    <h3>Modules - relation hiérarchique d'ordre d'exécution.</h3>
    <p>Imaginons une application avec l'architecture suivante :</p>
    <img [src]="imageUrl2">
    <p>Si nous devions tracer le chemin logique que suivrait l'application lors de l'exécution, on commencerait par passer par le point d'entrée <code>app-module</code>.</p>
    <p>Une fois fait, nous pourrions définir à notre application de passer par le module features. et enfin par les différents modules que lui-même pourrait posséder comme exercices, theorie ou encore home</p>

    <hr>

    <h3>Mise en place </h3>

    <p><strong>1. <code>app-routing.module.ts</code> :</strong></p>
    <p>Si nous suivons notre pattern, nous savons que nous devons faire le routing du module app vers le module features.</p>
    <p>C'est dans la liste de routes que nous allons définir cette relation :</p>
    
    <img [src]="imageUrl3">

    <hr>

    <h3>Explications - Ligne dans <code>const routes</code> :</h3>

    <p>Nous spécifions via cette ligne plusieurs choses au module routing que nous pourrions traduire par :</p>
    <ul>
      <li><p><code>AppRouting</code>, sache qu'il existe un module dans l'architecture du projet qui se trouve dans le fichier situé dans :</p></li>
      <pre><code>() => import('../features/features.module')</code></pre>

      <li><p>Dans celui-ci, ce module se nomme (nom de la classe déclaré dans le fichier module.ts) :</p></li>
      <pre><code>.then(module => module.FeaturesModule)</code></pre>

      <li><p>Et bien, pour ce module, tu vas me charger les enfants, c'est-à-dire les modules déclarés dans la catégorie : Export :</p></li>
      <pre><code>=> loadChildren:</code></pre>

      <li><p>Toutes les routes et les modules que tu obtiendras via le loadChildren, tu les lieras au chemin '' :</p></li>
      <pre><code>path: ''</code></pre>

      <li><p>Ce que va faire <code>path: ''</code>, c'est venir rajouter à notre url : <code>http://localhost:4200</code>, la valeur ' ' donc on obtient => <code>http://localhost:4200</code>.</p></li>
    </ul>

    <hr>

    <p><strong>2. Routing - <code>Module features</code> :</strong></p>
    
    <p>Ensuite, dans <code>features-routing.module.ts</code>, nous pourrions définir les routes vers Home, Démonstrations, et Exercices toujours via le même processus.</p>
    <img [src]="imageUrl4">
    <p class="warning">Note : Ce pattern peut se répéter autant de fois qu'il y a de sous-module dans des modules.</p>

    <hr>

    <p><strong>3. Routing <code>sous-modules</code> :</strong></p>

    <p>Partons, pour continuer, du principe que le module <code>Demo</code> soit pour le sous-module Demo1, définissons la route dans <code>demos-routing.module.ts</code> :</p>
    <pre><code>
      const routes: Routes = [
      &lbrace; path: 'demo1', component: Demo1Component &rbrace;];
      // Ce qui nous donne au niveau de l'adresse : 
      //'http://localhost:4200/demos/demo1'
    </code></pre>
  </div>
