<div class="page-wrapper">
    <section class="hero-section">
      <h1>Théorie - Router, Guard & Resolver</h1>
      <button class="cta-button" (click)="nav.navigate('/theorie/11')"> ⏮️</button>
      <button class="cta-button" (click)="nav.navigate('/theorie/13')">⏭️</button>
    </section>
  
    <section class="content-section">
        <app-router/>
        <app-guards/>
        <app-resolvers/>
        <button class="cta-button" (click)="nav.navigate('/demos/12')">🟪Démonstration🟪</button>
    </section>
  </div>
