<div class="concept">
    <h2>Contexte :</h2>
    <p>Lorsqu'on crée des modules, il est nécessaire de configurer le routing de ceux-ci afin de pouvoir naviguer entre les pages qu'ils offrent</p>

    <p>Pour se faire, nous allon devoir mapper une URL à un ou plusieurs composants de notre application.</p>
    
    <p>Là, où, jusqu'à maintenant, vous n'aviez accès qu'à l'adresse <code>http://localhost:4200</code>, vous pourriez grâce au routing, décider de lier une adresse telle que <code>http://localhost:4200/home</code> à un composant home ou encore <code>http://localhost:4200/demos</code> à une page démo, elle même possèdant plusieurs démonstrations sur les pages <code>http://localhost:4200/demos/i</code></p>
  </div>