<div class="concept">
    <h2>Guards - Protéger les routes</h2>
    <p>Les <strong>Guards</strong> sont des fonctions spéciales qui contrôlent l'accès à certaines routes. Ils permettent de décider si un utilisateur peut ou non accéder à une page.</p>

    <h3>Types de Guards : </h3>
    <ul>
        <li><code>canActivate</code> : Vérifie si un utilisateur a le droit d'accéder à la page (par exemple, vérifier s'il est connecté).</li>
        <li><code>canDeactivate</code> : Vérifie si un utilisateur peut quitter la page (par exemple, s'il n'a pas encore sauvegardé des modifications).</li>
    </ul>

</div>

<br><br>

<div class="concept">
    <h3>CanActivate - Exemple</h3>
    <p>Nous pourrions utiliser un guard pour vérifier si l'utilisateur est authentifié avant de lui permettre d'accéder à une route.</p>
    <img [src]="imageUrl"><br/>

    <p><strong>Utilisation sur une route : </strong></p>
    <img [src]="imageUrl2"><br>
</div>
