<div class="page-wrapper">
    <section class="hero-section">
        <h1>Exercices : Cycle de Vie des Composants</h1>
        <button class="cta-button" (click)="nav.navigate('/exos/5')">⏮️</button>
        <button class="cta-button" (click)="nav.navigate('/theorie/8')">🟦 Théorie 🟦</button>
        <button class="cta-button" (click)="nav.navigate('/demos/8')">🟪 Démonstration 🟪</button>
        <button class="cta-button" (click)="nav.navigate('/exos/7')">⏭️</button>
    </section>

    <section class="content-section">
        <div class="concept">
            <h2>Enoncé : </h2>
            <p>Créer un composant qui démarre un timer à l'initialisation et l'arrête avant sa destruction.</p>
        </div>
        <student-timer/>
        <correction-timer/>
    </section>
</div>
