<div class="concept">
    <h2>Contexte :</h2>
    <p>Nous développons un site web, dans lequel seront stockées la théorie, les démonstrations et les exercices réalisés au cours de cette formation. Ce site servira à centraliser et organiser tout le contenu créé, tout en illustrant les concepts de modularité et de routage propres à Angular.</p>
    <p>Pour réaliser cela, nous devons mettre en place une structure modulaire et claire dans Angular, avec différentes pages dédiées :</p>
    <ul>
      <li>Une page d'accueil (module Home) pour introduire l'application.</li>
      <li>Un module Theorie qui contiendra la théorie des points importants d'Angular.</li>
      <li>Un module Exercices qui contiendra les exercices réalisés par les étudiants.</li>
      <li>Un module Démonstrations pour chaque exemple vu en cours.</li>
      <li>Une barre de navigation pour faciliter le déplacement entre les pages. (plus tard dans le cours)</li>
    </ul>
  </div>