
<div class="concept"> 
    <h2>Liste des utilisateurs</h2>

    <table>
    <thead>
        <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>
            <button class="cta-button" (click)="editUser(user)">Modifier</button>
            <button class="cta-button" (click)="deleteUser(user.id)">Supprimer</button>
        </td>
        </tr>
    </tbody>
    </table>

    <app-user-form [selectedUser]="selectedUser" (formSubmit)="onFormSubmit()"></app-user-form>
</div>
