<div class="page-wrapper">
    <section class="hero-section">
        <h1>Exercice - Services | Injection</h1>
        <button class="cta-button" (click)="nav.navigate('/exos/7')">⏮️</button>
        <button class="cta-button" (click)="nav.navigate('/theorie/10')">🟦 Théorie 🟦</button>
        <button class="cta-button" (click)="nav.navigate('/demos/10')">🟪 Démonstration 🟪</button>
        <button class="cta-button" (click)="nav.navigate('/exos/9')">⏭️</button>
    </section>

    <section class="content-section">
        <div class="concept">
            <h2>Enoncé : </h2>
            <p>Optimiser la liste de course avec l'utilisation d'un service qui gère la liste et les méthodes qui peuvent s'y appliquer</p>
            <p>Ajouter la possibilité de gérer le nombre d'articles voulu (Ex : Lait x 6, Tomates x 3, …)
            </p>
        </div>

        <student-shopping/>
        <correction-shopping/>
    </section>
