<div class="page-wrapper">
    <section class="hero-section">
      <h1>Exercices - Components</h1>  
      <button class="cta-button" (click)="nav.navigate('/theorie/2')">🟦 Théorie 🟦</button> 
      <button class="cta-button" (click)="nav.navigate('/exos/2')">⏭️</button>
    </section>
  
    <section id="concepts" class="content-section">
        <div class="concept">
          <h2>Enoncé :</h2>
          <p>Dans un projet tierce, créer cette arborescence : </p>
          <ul>
            <li>
              <p>Module : features (<code>ng g m app/features --routing</code>)</p>
              <ul><li>
                <p>Module : Home(<code>ng g m app/features/home --routing</code>)</p>
                <ul><li>
                  <p>Component : home (<code>ng g c component app/features/home</code>)</p>
                </li></ul>
              </li></ul>
            </li>
          </ul>
          <p>Intégrer ensuite le composant <code>home</code> dans le <code>app.component.html</code></p>
          <hr>
          <p>En vous basant sur l'exemple ci-dessus, implémenter 2 autres modules nommés <code>exercices</code> et <code>demos</code></p>
        </div>

        <div class="concept">
          <h2>Notes :</h2>
          <p class="warning">
            Notez que le processus mis en place lors de cet exercice sur un projet tierce, est à la base du projet sur lequel cet énoncé se trouve !
          </p>
        </div>
    </section>
  </div>